@model eLibrary1.Models.DetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Livro.Titulo</h2>
<div>
    <hr />
    <dl class="dl-horizontal" style="font-size: 16px">
        
        <dt>@Html.DisplayNameFor(model => model.Livro.Titulo)</dt>
        <dd>@Html.DisplayFor(model => model.Livro.Titulo)</dd>
        
        <dt>Categoria</dt>
        <dd>@Html.DisplayFor(model => model.Livro._Categoria.Nome)</dd>

        <dt>Editora</dt>
        <dd>@Html.DisplayFor(model => model.Livro._Editora.Nome)</dd>

        <dt>Assunto</dt>
        <dd>@Html.DisplayFor(model => model.Livro._Assunto.Nome)</dd>

        <dt>@Html.DisplayNameFor(model => model.Livro.ISBN)</dt>
        <dd>@Html.DisplayFor(model => model.Livro.ISBN)</dd>

        <dt>@Html.DisplayNameFor(model => model.Livro.Paginas)</dt>
        <dd>@Html.DisplayFor(model => model.Livro.Paginas)</dd>

        <dt>@Html.DisplayNameFor(model => model.Livro.Edicao)</dt>
        <dd>@Html.DisplayFor(model => model.Livro.Edicao)</dd>

        <dt>@Html.DisplayNameFor(model => model.Livro.Autor)</dt>
        <dd>@Html.DisplayFor(model => model.Livro.Autor)</dd>

        <dt>@Html.DisplayNameFor(model => model.Livro.Ano)</dt>
        <dd>@Html.DisplayFor(model => model.Livro.Ano)</dd>

        <dt>@Html.DisplayNameFor(model => model.Livro.Origem)</dt>
        <dd>@Html.DisplayFor(model => model.Livro.Origem)</dd>

        <dt>@Html.DisplayNameFor(model => model.Livro.Idioma)</dt>
        <dd>@Html.DisplayFor(model => model.Livro.Idioma)</dd>

    </dl>
</div>
<p>
    <a href="/Livros/" class="btn btn-primary">Voltar</a>
</p>