@model eLibrary1.Models.LivroViewModel

<div class="container" style="text-align: center">
    <h1>Livros</h1>
</div>

<table class="table table-hover" style="text-align: center">
    <thead>
        <th style="text-align: center">ID</th>
        <th style="text-align: center">Titulo</th>
        <th style="text-align: center">Categoria</th>
        <th style="text-align: center">Assunto</th>
        <th style="text-align: center">Editora</th>
    </thead>
    <tbody>
        @foreach(var livro in Model.Livros){
            <tr>
                <td>@livro.LivroID</td>
                <td>@livro.Titulo</td>
                <td>@livro._Categoria.Nome</td>
                <td>@livro._Assunto.Nome</td>
                <td>@livro._Editora.Nome</td>
                <td>
                    <div class="btn-group">
                        <a href="/Livros/Details/@livro.LivroID" class="btn btn-info ">Detalhes</a>
                        <a href="/Livros/Edit/@livro.LivroID" class="btn btn-success ">Editar</a>
                        <a data-myval="/Livros/Delete/@livro.LivroID" href="" id="btnExcluir" data-toggle="modal" data-target="#confirm-delete" class="btn btn-danger">Excluir</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container" style="text-align: center">
    <h3 style="text-align: left">Total: @Model.Livros.Count()</h3>
    <a href="/Livros/Create" class="btn btn-primary">Cadastrar Livro</a>
</div>

@*Bootstrap Dialog*@
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" > 
    <div class="modal-dialog" role="document"> 
        <div class="modal-content"> 
            <div class="modal-header"> 
                <h4 class="modal-title" >Excluir</h4> 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
                </button>
            </div> 
            <div class="modal-body"> 
                <p>O livro será excluído.</p> 
                <p>Deseja continuar?</p> 
            </div> 
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Não</button> 
                <a class="btn btn-danger btn-excluir" id="excluir" href="">Sim</a> 
            </div> 
        </div>
    </div>
</div>

@section scripts {
   <script>
        $("#btnExcluir").click(function(){
            var id = $("#btnExcluir").data('myval');
            $(".btn-excluir").attr("href", id);
        });        
   </script>
}